{% extends 'menu/base.html' %}

{% block content %}
<div class="d-grid gap-3 d-md-flex justify-content-md-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        Добавить продукт
    </button>
</div>
<!-- Модальное окно 1 -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel1">Добавить продукт</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form id="add_product" method="post" action="">
                    {% csrf_token %}
                    {{ form.title }}<br>
                    {{ form.price }}<br>
                    <span>{{ error }}</span>
                    <button form="add_product" type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--&lt;!&ndash;Если запись добавляется&ndash;&gt;-->
<!--<div class="container d-flex align-items-center justify-content-center ">-->
<!--    {% if success %}-->
<!--    <p style="color:red">Запись добавлена</p>-->
<!--    {% endif %}-->
<!--</div>-->

<!--Если добавили запись-->
{% if messages %}

<div class="alert alert-success">
    {% for m in messages %}
    {{m}}
    {% endfor %}
</div>

{% endif %}

<!--Проверка на редактирование-->
<div class="container d-flex  justify-content-center mt-4">

    {% if update_product %}
    <div class="d-flex align-items-center justify-content-center mt-4">
        <div class="container">
            <div class="row">
                <p class="d-flex align-items-center justify-content-center mt-4">Страница редактирования</p>
            </div>
            <form id="update_product" method="post" action="">
                {% csrf_token %}
                {{ form.title }}<br>
                {{ form.price }}<br>
                <span>{{ error }}</span>
                <button form="update_product" type="submit" class="btn btn-primary">Обновить</button>
            </form>
        </div>
    </div>
    {% else %}
</div>

<div class="container d-flex align-items-center justify-content-center ">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Цена</th>
            <th scope="col">Изменение</th>
            <th scope="col">Удаление</th>
        </tr>
        </thead>
        <tbody>
        {% for p in products %}
        <tr>
            <td width="100">{{p.pk}}</td>
            <td width="250">{{p.title}}</td>
            <td width="400">{{p.price}}</td>
            <td width="100"><a href="{% url 'update_product' p.pk %}">Редактировать</a></td>
            <td width="10">
                <form action="{% url 'delete_product' p.pk %}" method="post">{% csrf_token %}
                    <input type="submit" value="Удалить">
                </form>
            </td>
            <td class="button">
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}